@(
        bew: BewerbeListe,
        vList: List[StudentsData],
        userName: String,
        lastSeen: String
)(implicit request: RequestHeader, flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome | Secretary page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/secretary.css")">
        <link rel="shortcut icon" type="image/png"
        href="@routes.Assets.versioned("images/hska.png")" >
        <script src="@routes.Assets.versioned("javascripts/lead.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class = "logo-parent-div" >
                <img src="@routes.Assets.versioned("images/hskaa.png")"
                alt="err" class = "hska-logo-img" >
                <div class = "floaty-outer-parent-div" >
                    <div class = "floaty-parent-div" >
                            <div class = "home-inner-child-div" onclick="gotoOurUniversityPage(this)" >
                                Home
                            </div>
                            <div class = "international-inner-child-div" onclick="gotoInternationalOfficePage(this)" >
                                International office
                            </div>
                    </div>
                    <div class = "user-name-info-div" >
                        <div class = "first-user-info-div" >
                            <img src="@routes.Assets.versioned("images/hsk_default.png")" class = "hsk-default-img" >
                        </div>
                        <div class = "second-user-info-div" >@userName</div>
                    </div>
                </div>
            </div>
            <div class = "header-first-div" >
                <div class = "dark-div" ></div>
                <div class = "school-title-parent-div" >
                    <div class = "inner-parent-school-title-div" >
                        <div class = "border-style-div-1" ></div>
                        <div class = "inner-school-title-div" >Hochschule Karlsruhe</div>
                        <div class = "inner-school-title-div-2" >Technik und </div>
                        <div class = "inner-school-title-div-3" >Wirtschaft</div>
                        
                        <div class = "list-child-info-div" >
                        Liste Sekretariat 
                        </div>
                        <div class = "below-list-child-info-div" >
                            Welcome to the list of secretariats. Please click below
                            to register new students.
                        </div>

                        <div class = "register-student-div" id="register-new-user-div" >
                            Register new students
                        </div>
                        

                        <div class = "border-style-div-2" ></div>

                    </div>

                </div>


            </div>

        </header>

        <section>
            <div class = "section-first-div" >
                <div id="parent-table-container">
                        <div class="parent-table-button-flex-div" >
                            <div class = "show-all-div" onclick="showAll(this)" >
                                Show all
                            </div>
                            <div class = "register-student-logout-div" onClick="logOut(this)" >
                                        Logout
                            </div>
                        </div>
                        <div class = "header-title" >
                            <div class = "section-inner-div--1" >Application ID</div>
                            <div class = "section-inner-div-2" >First Name</div>
                            <div class = "section-inner-div-3" >Last Name</div>
                            <div class = "section-inner-div-4" >Nationality</div>
                            <div class = "section-inner-div-5" >Check</div>
                            <div class = "section-inner-div-6" >Doc check</div>
                            <div class = "section-inner-div-7" >Zulng.</div>
                            <div class = "section-inner-div-8" >Sitzg.</div>
                            <div class = "section-inner-div-9" >Is Checked</div>
                            <div class = "section-inner-div-10 zula-10" >Bemkg.</div>
                            <div class = "section-inner-div-11 doc-11" >Document</div>
                            <div class = "section-inner-div--12" >Save</div>




                        </div>


                    <!--
                            Looping each row of the table, and populating
                            with their respective values
                       -->
                    @for(obj <-  vList){

                        <form  method ="post"  action="/bewListeServlet" id = "first-form" >
                            @helper.CSRF.formField
                        <div class="student-forms" >
                            <div class = "section-inner-div-1 sec-1" title="@obj.getBemlang" >
                                @obj.getBemlang
                            <input type ="text"  class="edit_button input" name="bemlang"
                            value ="@obj.getBemlang"   readonly hidden>
                            </div>
                            <div class = "section-inner-div-2" title="@obj.getVorname" >
                                @obj.getShortVorname
                            <input type ="text"  class="edit_button input" name="bemlang"
                            value ="@obj.getVorname"   readonly hidden>
                            </div>
                            <div class = "section-inner-div-3" title="@obj.getNachname" >
                                @obj.getShortNachname
                            <input type ="text"  class="edit_button input" name="bemlang"
                            value ="@obj.getNachname"   readonly hidden>
                            </div>

                            <div class = "section-inner-div-4"  title ="@obj.getStaat" >
                                @obj.getStaat
                            <input type ="text"  class="edit_button input" name="bemlang"
                            value ="@obj.getStaat"  readonly hidden>
                            </div>
                            <div class = "section-inner-div-5 sec-5" >
                                <button class = "check-edit-button" onclick="getTaskId(this)"
                                id="@obj.getBemlang">
                    Check/Edit
                                </button>
                            </div>
                            <div class = "section-inner-div-6 sec-6" >
                                <button class = "check-doc-button" id = "buttonIdHere @obj.getBemlang"
                                onClick = "getDocsId(this)" >
                    Check_docs
                                </button>
                            </div>


                            <div class = "section-inner-div--7 sitzg-7" >
                                <input type="text" value="@obj.getZulassung "
                                    @bew.isReadOnly(!bew.getIsAdmin)
                                name="zulassung"  class = "zulassung-input" size="2">
                            </div>
                            <div class = "section-inner-div-8" >
                                <input type="text" value="@obj.getSitzungNr"
                                    @bew.isReadOnly(!bew.getIsAdmin)
                                name="sitNo" class = "zulassung-input" size="2">
                            </div>



                                    <div class = "section-inner-div-9" >
                                        @{

                                            if(bew.isInvalidate(!bew.getIsAdmin && !bew.getIsAAA) == "disabled") {
                                                    <!-- Opacity is reduced to indicate disabled, and click event disabled -->

                                                    <div class="check-input" style="opacity: .4;">
                                                        <!--
                                                          This div is invisible if hidden. This is the div that
                                                          indicates whether the checkbox is checked or not
                                                        -->
                                                         {
                                                            if(obj.getCheckedbox(1,obj.getIsChecked)!="hidden" )
                                                                <div class="inner-checked-div" data-toggle-value="visible"></div>
                                                          }
                                                    </div>
                                            } else {
                                                    <div class="check-input" onclick="toggleCheck(this)">
                                                            <!--
                                                              This div is invisible if hidden. This is the div that
                                                              indicates whether the checkbox is checked or not
                                                            -->
                                                        {
                                                            if(obj.getCheckedbox(1, obj.getIsChecked) != "hidden")
                                                                <div class="inner-checked-div" data-toggle-value="visible"></div>
                                                          }
                                                    </div>
                                            }
                                        }
                                    </div>
                                    <div class = "section-inner-div-10 zul-10" >
                                        <input type="text" name ="bemerkung" id ="@obj.getBemlang"
                                        value="@obj.getBemerkung" class = "zulassung-input-2" >
                                    </div>
                                    <div class = "section-inner-div-11 zul-10" >
                                        <input type="text" value="@obj.ignoreIfNull(obj.getDate_Zul_Sent)" class = "zulassung-input-3"
                                        name="dateZulSent"
                                        size="8"  @bew.isReadOnly(!bew.getIsAAA) >
                                    </div>
                                    <div class = "section-inner-div-12" >
                                        <button class = "save-button" >Save</button>
                                    </div>
                        </div>
                        </form>

                    }

                    </div>
            </div>
        </section>

        <footer>
            
                    <div class="custom-shape-divider-bottom-1600523450">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                        </svg>
                    </div>
                    <div class="custom-shape-divider-bottom-1600523840">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                        </svg>
                    </div>
        </footer>

        @scalajs.html.scripts("Project-B-client", routes.Assets.versioned(_).toString,
            name => getClass.getResource(s"/public/$name") != null)

    </body>
</html>
