::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255,0,0,0.8);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


body
{
    margin: 0;
    padding: 0;
    min-width: 92em;
    background: #fff;
}

div, input, span
{
    font-family: century gothic !important;
}


.header-first-div
{
    height: 38rem;
    background-image: url(/assets/images/two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}



.register-student-div:hover
{
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

.register-student-logout-div:hover
{
    background: red;
    color: #fff;
    
}
.register-student-logout-div
{
    background: none;
    border: red solid thin;
    border-radius: .3em;
    padding: .5em;
    font-family: century gothic;
    color: red;
    width: 8em;
    text-align: center;
    position: relative;
    left: 3em;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.register-student-div
{
    width: 35%;
    padding: 1em;
    background: red;
    color: #fff;
    text-align: center;
    font-family: century gothic;
    cursor: pointer;
    margin-top: 1em;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}




.hsk-default-img
{
    width: 1.5em;
    height: 1.5em;
}

.second-user-info-div
{
    margin-left: .5em;
    position: relative;
    top: -.1em;
}


.img-quote
{
    width: 1.5em;
    height: 1.5em;
}



.school-title-parent-div > div
{

    color: #fff;
    padding: .1em;
}

.school-title-parent-div
{
    position: absolute;
    border: solid thin none;
    top: 2em;
    left: 0em;
    right: 0;

}

.list-child-info-div
{
    font-family: century gothic;
    color: red;
    font-weight: 900;
    border-bottom: solid thin none;

    width: 50%;
}



.border-style-div-2
{
    border: solid .2em #fff;
    border-top: none;
    border-left: none;
    width: 70%;
    height: 4em;
}
.border-style-div-1
{
    border: solid .2em red;
    border-bottom: none;
    border-right: none;
    width: 70%;
    height: 4em;
    margin-bottom: 1em;
}

.below-list-child-info-div
{
    font-family: century gothic;
    width: 50%;
}

.inner-school-title-div
{
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10em;
}

.inner-school-title-div-2
{
    font-size: 3em;
    width: 15em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inner-school-title-div-3
{
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 12em;
    padding-bottom: .4em !important;
}

.logo-parent-div
{
    padding: 2em;
    border-bottom: solid thin none;
    background: #fff;
}

.international-inner-child-div:hover, .home-inner-child-div:hover
{
    background: #FC0A0A;
    color: #fff;
}

.international-inner-child-div
{

    border-left: solid thin red;
    background: #FC0A0A;
    padding-left: 1em;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
    cursor: pointer;
    color: #fff !important;
}

.home-inner-child-div
{
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}

.floaty-parent-div > div
{
    padding: 1em;
    cursor: pointer;
    color: red;
}

.floaty-outer-parent-div
{
    float: right;
    border: solid thin none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}










.save-button:hover
{
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}
.save-button
{
    background: #318fb5;
    color: #fff;
    border: none;
    padding: .5em;
    border-radius: .3em;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    outline: none;
}

.section-inner-div-12
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.zulassung-input-2, .zulassung-input-3
{
    width: 100%;
    border: #dcdcdc solid thin;
    border-radius: .3em;
    padding: .4em;
}

.zulassung-input-3
{
    background: #ffe2e2;
    border: solid thin #ffe2e2;
}

.input
{
    width: 80%;
    border: #dcdcdc solid thin;
    border-radius: .3em;
    padding: .4em;
}

.section-first-div
{
    padding-top: 4em;
    padding-bottom: 10em;
    background: #dcdcdc;
    margin-top: 4em;
    border: none;
    display: flex;
    justify-content: center;
}

#parent-table-container
{
    border: none;
    width: 60%;
}

.section-inner-div--1
{
    border-top-left-radius: .4em;
    font-weight: 900;
    color: #318fb5;
}
.section-inner-div-1
{
    font-weight: 900;
    color: #318fb5;
}

.section-inner-div--12
{
    border-top-right-radius: .4em;
}

.section-inner-div-2
{

}

.check-edit-button
{

}

.zulassung-input
{
    width: 2em;
}

.section-inner-div-5
{
    padding-right: 1.6em !important;
}
.section-inner-div-6
{
    padding-right: 2.2em !important;
    text-align: center;
}
.section-inner-div-7
{
    width: 3em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}



.section-inner-div-10, .section-inner-div-11
{
    padding-right: 1em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-inner-div-9
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.section-inner-div-8
{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.check-input
{
    width: 1em;
    height: 1em;
    margin: auto;
    border: solid thin grey;
    border-radius: .2em;
    padding: .1em;
}

.inner-checked-div:hover
{
    -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
            transform: scale(.8);
}
.inner-checked-div
{
    width: 100%;
    height: 100%;
    background: #318fb5;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}






/*  CSS for Play  */

.show-all-div:hover
{
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}
.show-all-div
{
    background: red;
    border: red solid thin;
    border-radius: .3em;
    padding: .5em;
    font-family: century gothic;
    color: #fff;
    width: 8em;
    text-align: center;
    position: relative;
    left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.header-title > div
{
   font-family: century gothic;
   padding: .5em;
   min-width: 6em;
   position: relative;
   left: 2.5em;
   
    border: solid thin red;
    background: red;
    color: #fff;
    font-weight: 900;
    font-size: .8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}




.section-first-div
{
    padding-top: 4em;
    padding-bottom: 10em;
    background: #dcdcdc;
    margin-top: 4em;
    border: solid thin none;
}

.input
{
    width: 80%;
    border: #dcdcdc solid thin;
    border-radius: .3em;
    padding: .4em;
    display: none;
}

.header-title, .student-forms
{
    border: solid thin none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}

.inner-parent-school-title-div
{
    border: solid thin none;
    width: 50%;
    position: relative;
    left: 0em;
    padding: 2em !important; 
    min-width: 30em;
}


.dark-div
{
    width: 50%;
    height: 100%;
    background: #000;
    opacity: .6;
    min-width: 30em;

}


.sitzg-7, .section-inner-div-7
{
    min-width: 3em !important;
    width: 2em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.zulassung-input
{
    width: 2em;
    border-radius: .3em;
    border: solid thin #dcdcdc;
    padding: .3em;
}

.student-forms > div
{
    min-width: 6em;
    position: relative;
   left: 2.5em;
   padding: .5em;
    border: solid thin #dcdcdc;
   font-family: century gothic;
   margin-top: 1em;
 
   font-size: .8em;
   background: #fff;
    font-weight: 900;
   /** box-shadow: 1px 1px 2px 1px grey; **/
}

.sec-5, .sec-6
{
    width: 5em;
}
.sec-1
{
    width: 6.8em;
}



.doc-11
{
    width: 11.5em;
}

.zula-10
{
    width: 11.4em;
}

.zul-10, .zul-11
{
    width: 11.5em;
}


.section-inner-div-2, .section-inner-div-3
{
   width: 12em;
}


.check-edit-button:hover, .check-doc-button:hover
{
    background: #FC0A0A;
    color: #fff;
    border-radius: .4em;
}

.check-edit-button, .check-doc-button
{
    padding: .5em;
    font-family: century gothic;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    outline: none;
    background: none;
    color: red;
    border: solid thin red;
    border-radius: .3em;
}




.hska-logo-img
{
    width: 16em;
    height: 6em;
    position: relative;
    left: 0em;
}

.floaty-parent-div
{
    border: solid thin red;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    border-radius: .4em;
    position: relative;
    top: 1em;
    right: 0em;
}

.user-name-info-div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 1.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: grey;
    left: 0em;
    border: #dcdcdc solid thin;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom: none;
    padding: .3em;
    margin-bottom: 1em;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/*End CSS for Play*/



.parent-table-button-flex-div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: solid thin none;
}

@media only screen and ( min-width: 1650px )
{
    .below-list-child-info-div
    {
      font-family: century gothic !important;
    }

    .header-first-div
    {
        height: 52rem;
    }

    .school-title-parent-div
    {
        top: 10em;
    }

}




.custom-shape-divider-bottom-1600523450 {
    position: relative;
    bottom: -2em;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-top: -4em;
    margin-bottom: -4em !important; 
    z-index: 1;
}

.custom-shape-divider-bottom-1600523450 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1600523450 .shape-fill {
    fill: #FC1010;
    -webkit-box-shadow: 1px 1px 10px 4px grey;
            box-shadow: 1px 1px 10px 4px grey;

}



.custom-shape-divider-bottom-1600523840 {
    position: relative;
   
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-top: -4em;
    margin-bottom: -4em !important; 
}

.custom-shape-divider-bottom-1600523840 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1600523840 .shape-fill {
    fill: #fff;
}
